[submodule "Magic-8-Ball-iOS13"]
	path = Magic-8-Ball-iOS13
	url = https://github.com/appbrewery/Magic-8-Ball-iOS13
[submodule "AutoLayout-iOS13"]
	path = AutoLayout-iOS13
	url = https://github.com/appbrewery/AutoLayout-iOS13.git
[submodule "Xylophone-iOS13"]
	path = Xylophone-iOS13
	url = ./Xylophone-iOS13
[submodule "Quizzler-iOS13"]
	path = Quizzler-iOS13
	url = https://github.com/appbrewery/Quizzler-iOS13
[submodule "Destini-iOS13"]
	path = Destini-iOS13
	url = https://github.com/appbrewery/Destini-iOS13.git
[submodule "BMI-Calculator-iOS13"]
	path = BMI-Calculator-iOS13
	url = https://github.com/appbrewery/BMI-Calculator-iOS13.git
[submodule "Clima-iOS13"]
	path = Clima-iOS13
	url = https://github.com/appbrewery/Clima-iOS13.git
[submodule "Flash-Chat-iOS13"]
	path = Flash-Chat-iOS13
	url = https://github.com/appbrewery/Flash-Chat-iOS13.git
